.container {
    margin-top: 2%;
    padding-left: 15px;
    background: bottom;
    box-shadow: 0 0 10px 0px #dee2e6;

    .newspaper-page {
        .post-item {
            padding: 25px;

            .post-item-container {
                border: 1px solid #dadce0;
                border-radius: 8px;
                box-shadow: 4px 1px 0px 0px #e9ecef;

                .post-item-content {
                    text-align: left;

                    a {
                        color: black;
                    }

                    .post-item-image {
                        img {
                            border-radius: 8px 8px 0 0;
                            max-width: 100%;
                            min-height: 80%;
                        }
                    }

                    .post-item-title {
                        padding: 8px 18px;
                    }
                }

                .post-item-author {
                    text-align: right;
                    padding-right: 18px;
                }

                .post-item-activities {
                    text-align: left;
                    padding: 12px;

                    .post-item-activity {
                        width: 46px;
                        height: 26px;
                        display: inline-block;
                        text-indent: 32px;
                        text-align: left;
                    }

                    .comment-activity {
                        background: url(/public/images/post_comment.png) 0px 2px;
                        background-repeat: no-repeat;
                    }

                    .like-activity {
                        background: url(/public/images/post_like.png) 0px 0px;
                        background-repeat: no-repeat;
                    }
                }

            }

        }
    }
}
